<ngb-tabset [justify]="'end'">
    <ngb-tab>
        <ng-template ngbTabTitle>
            Printer Settings
        </ng-template>
        <ng-template ngbTabContent>
            <div class="p-4 mt-4">
                <!-- <div class="col-xl-12 row">
                    <div class="col-xl-6">
                        <h3>Printer Settings</h3>
                    </div>
                    <div class="col-xl-12"> -->
                <button type="button" class="btn btn-success pull-right" (click)="saveprintersettings()">Save</button>
                <!-- </div>
                </div> -->
                <ngb-tabset type="pills">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            Receipt
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="p-4">
                                <ul class="list-group">
                                    <a href="javascript:void(0);" (click)="printersettings.receiptprinter = ''"
                                        [class.active]="printersettings.receiptprinter == ''"
                                        class="list-group-item-action list-group-item">None</a>
                                    <a href="javascript:void(0);"
                                        (click)="printersettings.receiptprinter = printer.name"
                                        *ngFor="let printer of printers"
                                        [class.active]="printersettings.receiptprinter == printer.name"
                                        class="list-group-item-action list-group-item">{{printer.name}}</a>
                                </ul>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            KOT
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="p-4">
                                <ul class="list-group">
                                    <a href="javascript:void(0);" (click)="printersettings.kotprinter = ''"
                                        [class.active]="printersettings.kotprinter == ''"
                                        class="list-group-item-action list-group-item">None</a>
                                    <a href="javascript:void(0);" (click)="printersettings.kotprinter = printer.name"
                                        *ngFor="let printer of printers"
                                        [class.active]="printersettings.kotprinter == printer.name"
                                        class="list-group-item-action list-group-item">{{printer.name}}</a>
                                </ul>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
                <!-- <div hidden class="tabs">
                    <div class="tabhead">
                        <nz-tabset class="kit-tabs" (nzSelectedIndexChange)="changeKeyps($event)">
                            <nz-tab nzTitle="Receipt"></nz-tab>
                            <nz-tab nzTitle="KOT"></nz-tab>
                        </nz-tabset>
                    </div>
                    <div class="tabdatas">
                        <div *ngIf="pskey === 0">
                            <ul class="list-group">
                                <a href="javascript:void(0);" (click)="printersettings.receiptprinter = ''"
                                    [class.active]="printersettings.receiptprinter == ''"
                                    class="list-group-item-action list-group-item">None</a>
                                <a href="javascript:void(0);" (click)="printersettings.receiptprinter = printer.name"
                                    *ngFor="let printer of printers"
                                    [class.active]="printersettings.receiptprinter == printer.name"
                                    class="list-group-item-action list-group-item">{{printer.name}}</a>
                            </ul>
                        </div>
                        <div *ngIf="pskey === 1">
                            <ul class="list-group">
                                <a href="javascript:void(0);" (click)="printersettings.kotprinter = ''"
                                    [class.active]="printersettings.kotprinter == ''"
                                    class="list-group-item-action list-group-item">None</a>
                                <a href="javascript:void(0);" (click)="printersettings.kotprinter = printer.name"
                                    *ngFor="let printer of printers"
                                    [class.active]="printersettings.kotprinter == printer.name"
                                    class="list-group-item-action list-group-item">{{printer.name}}</a>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            KOT Printer Settings
        </ng-template>
        <ng-template ngbTabContent>
            <div class="p-4 mt-4">
                <button type="button" class="btn btn-success pull-right" (click)="saveprintersettings()">Save</button>
                <ngb-tabset type="pills">
                    <ngb-tab *ngFor="let kotgrp of printersettings.kotgroups">
                        <ng-template ngbTabTitle>
                            <i class="fe fe-activity mr-1"></i>
                            {{kotgrp.Description}}
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="p-4">
                                <ul class="list-group">
                                    <li *ngFor="let printer of printers" class="list-group-item">
                                        {{printer.name}}
                                        <input type="checkbox" class="pull-right"
                                            [checked]="kotgrp.Printers.includes(printer.name)"
                                            (change)="printerselect($event.target.checked,printer.name,kotgrp.Id)">
                                    </li>
                                </ul>
                                <!-- <ul>
                                    <li *ngFor="let printer of printers">
                                        <span>{{printer.name}}</span>
                                        <input type="checkbox" [checked]="kotgrp.Printers.includes(printer.name)">
                                    </li>
                                </ul> -->
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            Order Discount/Tax Settings
        </ng-template>
        <ng-template ngbTabContent>
            <div class="p-4 mt-4">
                <label for="kot-printer"><strong class="text-light">Order Discount/Tax Settings</strong></label><label
                    for="kot-printer"><strong class="text-light">Order Discount/Tax Settings</strong></label>


                <nz-form-item>
                    <nz-form-label><label>Discount Inclusive(item lvl.)</label></nz-form-label>
                    <nz-form-control style="padding-left: 5%;">
                        <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <br>
                <nz-form-item>
                    <nz-form-label><label>Discount Inclusive(order lvl.)</label></nz-form-label>
                    <nz-form-control style="padding-left: 4.5%;">
                        <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <br>
                <nz-form-item>
                    <nz-form-label><label>Display Tax On Bill</label></nz-form-label>
                    <nz-form-control style="padding-left: 9.6%;">
                        <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            Waiter / KDS App
        </ng-template>
        <ng-template ngbTabContent>
            <div class="p-4 mt-4">
                <!-- <div class="row"> -->
                <!-- <h4>Server IP Address For Waiter / KDS App</h4> -->
                <!-- <button class="btn btn-primary float-right" (click)="issockserverlive()">Check Server
                        Status</button> -->
                <!-- </div> -->
                <!-- <div class="col-lg-6 mb-4">
                    <input nz-input placeholder="Server IP Address For Waiter / KDS App" [(ngModel)]="value" />
                </div>
                <h5>
                    Available Network:
                </h5> -->
                <div class="row col-xl-12">
                    <ul class="list-group col-xl-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Network</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let network of available_networks; index as i">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td>
                                        {{network.ifname}} <i>({{network.address}})</i>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-success"
                                            (click)="startServer(network)">start</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <li *ngFor="let network of available_networks" class="list-group-item" style="cursor: pointer;"
                            [class.text-success]="network.islive" [class.active]="" (click)="startServer(network)">
                            {{network.ifname}} <i>({{network.address}})</i>
                            <i *ngIf="network.address == socket_server_ip"
                                class="fe fe-check-square text-success pull-right"></i>
                        </li> -->
                    </ul>
                    <div class="col-xl-6 text-center">
                        <qrcode class="bshadow" qrdata="{{socket_server_ip}}:8000" [width]="256"
                            [errorCorrectionLevel]="'M'"></qrcode>
                        <br>
                        <i class="text-danger">http://{{socket_server_ip}}:8000</i>
                    </div>
                </div>
            </div>
            <ngb-toast *ngIf="notAnElectronApp" header="Click my close icon →" [autohide]="true">
                If you close me, I will automatically re-appear after a few seconds.
            </ngb-toast>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            POS Preferences
        </ng-template>
        <ng-template ngbTabContent>
            <div class="p-4 mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <nz-form-item>
                                <nz-form-label><label>Admin only Cancellation</label></nz-form-label>
                                <nz-form-control style="padding-left: 29%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Enable Delivery Orders</label></nz-form-label>
                                <nz-form-control style="padding-left: 30%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Enable TakeAway Orders</label></nz-form-label>
                                <nz-form-control style="padding-left: 29%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Enable FreeQuantity for Products</label></nz-form-label>
                                <nz-form-control style="padding-left: 19%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Show Tax on receipts</label></nz-form-label>
                                <nz-form-control style="padding-left: 33%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Enable KOT in QuickOrder</label></nz-form-label>
                                <nz-form-control style="padding-left: 27%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Show Customer Address in Bill(except delivery)</label>
                                </nz-form-label>
                                <nz-form-control style="padding-left: 5%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm">
                            <nz-form-item>
                                <nz-form-label><label>Enable Advance Orders</label></nz-form-label>
                                <nz-form-control style="padding-left: 24%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Enable DineIn Orders</label></nz-form-label>
                                <nz-form-control style="padding-left: 26%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Enable QuickOrder</label></nz-form-label>
                                <nz-form-control style="padding-left: 28.5%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Enforce Customer No. during Ordering</label></nz-form-label>
                                <nz-form-control style="padding-left: 7%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Enable KOT Generation</label></nz-form-label>
                                <nz-form-control style="padding-left: 24%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Show Upcategory Products</label></nz-form-label>
                                <nz-form-control style="padding-left: 20%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label><label>Show Child Category</label></nz-form-label>
                                <nz-form-control style="padding-left: 26.5%;">
                                    <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="col-xl-12 row">
                        <div class="col-xl-6">
                            <h3>Charge Settings</h3>
                        </div>
                        <div class="col-xl-6">
                            <button type="button" class="btn btn-success pull-right"
                                (click)="savecharges()">Save</button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Charge Name</th>
                                <th scope="col">Charge Type</th>
                                <th scope="col">Charge Value</th>
                                <th scope="col">
                                    Is default?
                                    <button type="button" class="btn btn-link btn-sm" placement="right"
                                        ngbPopover="Select the charges to apply defaultly in orders"
                                        popoverTitle="Is default?">
                                        <i class="fe fe-help-circle"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let charge of charges; index as i">
                                <td>
                                    {{ charge.Description }}
                                </td>
                                <td>{{ charge.ChargeType == 1 ? 'CASH' : 'PERCENTAGE' }}</td>
                                <td>{{ charge.ChargeValue | number }}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="charge.selected">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>